<div class="container">
  <div class="jumbotron">
    <h1> Welcome to Later Gator Bookmark Saver</h1>
    <p>Manage your bookmakrs and share with your friends!</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Later Gator What You Want</h3>
      <p>It's easy enough to bookmark a URL in your browser, but eventually your bookmark library may get cluttered and it may require effort to manage bookmarks.  Later Gator will  organize your bookmarks by topic so you can quickly find what you want to read later.</p>
    </div>
    <div class="col-md-4">
      <h3>Easily Add Bookmarks</h3>
      <p>Create topics easily by clicking on the "New Topics" button. Add your URL bookmarks by pasting them in the "Add New Bookmark" section.</p>
    </div>
    <div class="col-md-4">
      <h3>Be Social!</h3>
      <p>Share bookmarks with friends, view other public bookmarks, make comments and rank public bookmarkes to see the best</p>
    </div>
  </div>
</div>
