// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookmark_box {
  width: 250px;
  height: 250px;
  padding: 20px;
  word-wrap: break-word;
  //border: 5px solid gray;
  //border-radius: 20px;
  //margin-top: 10px;
}
